body {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#background{
    background-color: rgba(130, 248, 242, 0.726);
    width: 700px;
    height: 700px;
}

.ani{
    color:white;
}