body {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#background{
    background-color: rgba(130, 248, 242, 0.726);
    width: 700px;
    height: 700px;
}

section {
    display:flex;
    height: 100vh;
}

.first{
    background-color: white;
    width: 20px;
    height: 20px;
}
