html, body{
    background-color: whitesmoke;
    height:100%;
    margin:0;
}

h1{
    text-align: center;
}

section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

div{
    width: 250px;
    height: 400px;
    border: 10px solid white;
    margin:20px;
    position: relative;
}

div:first-child{
    background-color: tomato;
}

div:nth-child(2){
    background-color: teal;
}

div:nth-child(3){
    background-color: burlywood;
}

div:nth-child(4){
    background-color: thistle;
}

div.color{
    background-color: white;
    position: absolute;
    width:240px;
    height: 100px;
    margin:0px;
    top:20px;
    left:0px;
    border: 10px solid white;
    text-align: left;
}