#chat-screen {
    background-color: var(--pink);
    height: 100vh;
}

#chat-screen .alt-header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--pink);
}

#chat-screen .status-bar {
    background-color: var(--pink);
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .6s linear;
}

.chat__timestamp {
    color:white;
    background-color: #F4AAA8;
    padding:10px 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 15px;
}

.message__author {
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.message_bubble {
    background-color: white;
    padding: 10px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 15px;
}

.message_info {
    display: flex;
    align-items: flex-end;
}

.message_time {
    opacity: 0.8;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message_bubble {
    background-color: #fd9499;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message_info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 15px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:first-child i {
    margin-left: 10px;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 12px;
    width: 100%;
    border:var(--main-border);
    border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -20px;
    top: 5px;  /* position: aboluste 라서 높이를 지정해줘야함 */
}

.reply__column:last-child > i {
    right: 20px;
    top: 20px;
}

.reply__column button {
    background-color: #fd9499;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply i {
    opacity: 0.5;
}
