.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 50px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 8px;
}

.welcome-screen {
  height: 100vh;
  background-image: url(../img/login.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 18px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.7;
}

#login-form input:not([type="submit"]) {
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--pink);
}

#login-form input[type="submit"] {
  background-color: var(--pink);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
